html#HomePage{
    /* Put all backgorund properties in 1 line*/
    background: white url('images/html.png') no-repeat center;

    /*
    background-color : white;   
    background-image: url('images/html.png');
    background-repeat: no-repeat;
    background-position: center;
    */
}

/* style for paragraph tag*/
p{
    font-family: "Times New Roman";
}

/* style for headline 1 tag*/
h1{
    font-family: "Times New Roman";
}